<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Meio Dia</title>
</head>
<body>
    <h2>Registro de livros</h2>

    <form action="/add_form" method="post">
        <label for="">Titulo do Livro</label>
        <input type="text" name="titulo" /><br />
        <label for="">Autor do Livro</label>
        <input type="text" name="autor" /><br />
        <input type="submit" value="Enviar"  />
    </form>
    <a href="/">Pag Inicial</a>
</body>
</html>